.about {
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
}

.title-second {
  font-size: 36px;
  line-height: 60px;
  margin: -20px 0 0 0;
  font-weight: normal;
}

.about__list {
  list-style-type: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.about__list-item {
  display: flex;

  align-items: center;
  font-family: "Arial";
}

.image--advantage {
  background-color: $green-lighten;
  margin-right: 20px;
}

.about__text {
  margin-left: auto;
}
