.about {
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
}

.about__list {
  list-style-type: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.about__list-item {
  display: flex;

  align-items: center;
  font-family: "Arial";
}

.about__text {
  margin-left: auto;
}
