.additional-products {
  position: relative;
  text-align: center;
  padding: 0 20px 0 20px;
}

.additional-products__list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 38px;
}

.additional-products__item--first {
  border-top: 1px solid $grey-darken;
}

.additional-products__item {
  padding-bottom: 20px;
  border-bottom: 1px solid $grey-darken;
}

.additional-products__text {
  display: flex;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
}

@media (min-width: $tablet-width) {
  .additional-products {
    padding: 0 30px 0 30px;
    margin-bottom: 40px;
  }

  .additional-products__list {
    border: 1px solid $bg-gray;
    display: flex;
    flex-direction: column;
  }

  .additional-products__item {
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .additional-products__text {
    margin-left: auto;
  }

  .additional-products__text--left {
    width: 225px;
    font-size: 16px;
    line-height: 20px;
  }
}
