.additional-products {
  position: relative;
  text-align: center;
}

.additional-products__title-wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: relative;
    min-width: 708px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1300px;
  }
}

.additional-products__list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 38px;
}

.additional-products__item--first {
  border-top: 1px solid $grey-darken;
}

.additional-products__item {
  padding-bottom: 17px;
  border-bottom: 1px solid $grey-darken;
}

.additional-products__text {
  display: flex;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
}

@media (min-width: $tablet-width) {
  .additional-products {
    padding: 0;
    margin-bottom: 73px;
  }

  .additional-products__wrapper-desktop {
    padding: 0 15px;
  }

  .additional-products__list {
    border: 1px solid $bg-gray;
    display: flex;
    flex-direction: column;
    width: 708px;
    margin-bottom: 69px;
  }

  .additional-products__item {
    padding: 27px 37px 27px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .additional-products__item--first {
    border-top: initial;
  }

  .additional-products__item--last {
    border-bottom: initial;
  }

  .additional-products__text {
    margin-left: auto;
    margin-top: 2px;
  }

  .additional-products__text--left {
    width: 135px;
    font-size: 16px;
    line-height: 20px;
    margin-right: 49px;
  }

  .additional-products__text--water {
    margin-right: 25px;
  }

  .additional-products__text--milk {
    margin-right: 7px;
  }

  .additional-products__text--vitamins {
    margin-right: 45px;
  }

  .additional-products__text--right {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .additional-products {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
  }

  .additional-products__wrapper-desktop {
    display: flex;
    padding: 0;
    justify-content: center;
  }

  .additional-products__list {
    border: none;
    width: 895px;
    margin-top: 0;
    margin-right: 80px;
    margin-bottom: 86px;
  }

  .additional-products__item {
    padding: 15px 0 16px;
    flex-wrap: nowrap;
  }

  .additional-products__item--first {
    border-top: 1px solid $grey-darken;
  }

  .additional-products__item--last {
    border-bottom: 1px solid $grey-darken;
    padding-bottom: 16px;
  }

  .additional-products__text--left {
    text-align: left;
  }

  .additional-products__text {
    width: 245px;
    margin: 8px auto 0 80px;
  }

  .additional-products__text--right {
    margin-right: -42px;
  }

  .additional-products__text--water-price {
    margin-right: -34px;
  }
}
