// кнопка открытия nav
.burger-toggle {
  position: absolute;
  right: 20px;
  border: 0;
  padding: 10px;
  background-color: transparent;

  &::before,
  &::after {
    position: absolute;
    left: 0;
    background-color: #111111;
    content: "";
    display: inline-block;
    vertical-align: baseline;
    width: 25px;
    height: 2px;
  }
}

// кнопка закрытия nav
.burger-toggle--close {
  display: none;
  top: 23px;

  &::before {
    top: 9px;
    transform: rotate(45deg);
  }

  &::after {
    top: 9px;
    transform: rotate(-45deg);
  }
}

.burger-toggle--open {
  top: 23px;
  width: 25px;
  border-top: 2px solid #111111;

  &::before {
    top: 6px;
  }

  &::after {
    top: 14px;
  }

  &:hover {
    cursor: pointer;
  }
}

@media (min-width: $tablet-width) {
  .burger-toggle {
    display: none;
  }
}
