// кнопка открытия nav
.burger-toggle {
  position: absolute;
  top: 25px;
  right: 23px;
  width: 25px;
  height: 2px;
  box-shadow: inset 0px 2px 0px 0px #000;
  border: 0;
  padding: 10px;
  background-color: transparent;

  &::before {
    position: absolute;
    top: 9px;
    left: 0;
    display: inline-block;
    vertical-align: baseline;
    width: 25px;
    height: 2px;
    content: "";
    background-color: #000;
  }

  &::after {
    position: absolute;
    top: 18px;
    left: 0;
    display: inline-block;
    vertical-align: baseline;
    width: 25px;
    height: 2px;
    content: "";
    background-color: #000;
  }

  &:hover {
    cursor: pointer;
  }
}

// кнопка закрытия nav
.burger-toggle--close,
.more-products__button {
  position: absolute;
  top: 23px;
  right: 23px;
  border: 0;
  padding: 10px;
  background-color: transparent;

  &::before {
    position: absolute;
    top: 9px;
    left: 0;
    display: inline-block;
    vertical-align: baseline;
    width: 25px;
    height: 2px;
    content: "";
    background-color: #000;
    transform: rotate(45deg);
  }

  &::after {
    position: absolute;
    top: 9px;
    left: 0;
    display: inline-block;
    vertical-align: baseline;
    width: 25px;
    height: 2px;
    content: "";
    background-color: #000;
    transform: rotate(-45deg);
  }
}
