.catalog-page {
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media (min-width: $tablet-width) {
  .catalog-page {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .catalog-page {
    width: 100%;
  }
}
