.catalog {
  text-align: center;
}

.catalog__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.catalog__item {
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.catalog__row {
  display: flex;
  padding: 0 20px;
}

.catalog__text {
  margin: 0;
}

.catalog__datalist {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.catalog__datalist--item {
  display: flex;
  justify-content: space-between;
}

.catalog__row-right {
  width: 150px;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    padding: 0 30px;
    flex-flow: row wrap;
  }

  .catalog__item {
    position: relative;
    width: 324px;
    min-height: 431px;
    border-bottom: none;
    background-color: $bg-gray;
    margin-bottom: 140px;
    padding: 0;
    box-sizing: border-box;
  }

  .catalog__item--none-mbottom {
    margin-bottom: 70px;
  }

  .catalog__item--last {
    background-color: transparent;
    border: 1px solid $bg-gray;
  }

  .catalog__row {
    flex-direction: column;
  }

  .catalog__item:nth-child(2n) {
    margin-left: auto;
  }

  .catalog__row-left {
    position: relative;
  }

  .catalog__row-right {
    width: 250px;
    min-height: 155px;
    margin-right: auto;
    margin-left: auto;
  }

  .catalog__datalist {
    margin-bottom: 40px;
  }

  .catalog__datalist--item {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $grey-darken;
  }

  .catalog__text {
    font-size: 16px;
    line-height: 18px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding: 0 110px;
    margin-bottom: 80px;
/*     width: 1440px;
    margin: 0 auto; */
  }

  .catalog__list {
    padding: 0;
    width: 1220px;
  }

  .catalog__item {
    width: 245px;
  }

  .catalog__item:nth-child(2n) {
    margin-left: 0;
  }

  .catalog__item:not(:nth-child(4n)) {
    margin-right: 80px;
  }

  .catalog__item--no-mrgnbtm {
    margin-bottom: 0;
  }

  .catalog__row-right {
    width: 170px;
  }
}
