.container {
  width: 280px;
  margin: 0 auto;
  display: flex;

  @media (min-width: $tablet-width) {
    width: 738px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.container--column {
  flex-direction: column;
}

.container--form-checkboxes {
  padding-top: 27px;
  padding-bottom: 13px;
}

.container--catalog {
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1300px;
  }
}

.container--form {
  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
  }
}

@media (min-width: $desktop-width) {
  .container--form-list {
    width: 568px;
    margin-left: 0;
  }

  .container--formpage-checkboxes {
    width: 570px;
    margin-left: auto;
    margin-right: 0;
  }
}
