.container {
  width: 280px;
  margin: 0 auto;
  display: flex;

  @media (min-width: $tablet-width) {
    width: 738px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.container--column {
  flex-direction: column;
}
