.contacts {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  padding-top: 23px;
  padding-bottom: 25px;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
}

.contacts__container {
  box-sizing: border-box;
}

.contacts__container--form {
  padding-top: 5px;
}

.contacts__container--index {
  padding-top: 6px;
}

.contacts--bg-white {
  background-color: $bg-white;
}

.contacts__text--no-margin {
  margin: 0;
}

.contacts__text--margin-left {
  margin-left: auto;
}

.contacts__text--normal {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}

.contacts--catalog {
  margin: 0;
  width: 320px;
  padding: 20px;
  background-color: $bg-gray;
}

@media (min-width: $tablet-width) {
  .contacts {
    margin: 0 auto;
    border-left: none;
    border-right: none;
    padding: 22px 0 15px;
  }

  .contacts__container {
    width: 768px;
    padding: 42px 71px;
  }

  .contacts--tablet {
    border: none;
    margin-bottom: 0;
  }

  .contacts__text--normal {
    margin-top: 0;
    margin-bottom: 0;
    width: 155px;
    font-size: 16px;
    line-height: 20px;
    margin-left: auto;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .contacts__text-bottom {
    margin-top: 18px;
  }

  .contacts__address-top {
    margin-bottom: 19px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    margin: 0;
    background-color: $bg-white;
    width: 570px;
    box-sizing: border-box;
    z-index: 2;
    top: 93px;
    right: 50%;
    transform: translateX(-40px);
    padding: 0;
    position: absolute;
  }

  .contacts__text--normal {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .contacts__container {
    padding: 60px 89px 60px 76px;
  }

  .promo-text--bold {
    padding-top: 3px;
  }

  .contacts__address-top {
    text-align: left;
  }

  .contacts__address-bottom {
    text-align: left;
  }
}
