.copyright {
  border-top: 1px solid #d9d9d9;
}

.copyright__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  margin-right: 23px;
}

.copyright__svg {
  position: relative;
  width: 27px;
  height: 34px;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 22px 0 20px 0;
}

.copyright__link:hover svg {
  fill: $green-lighten;
}

.copyright__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .copyright {
    border-top: none;
    margin-top: -5px;
    margin-right: auto;
  }

  .copyright__link {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    margin-top: -9px;
  }
}
