.copyright {
  border-top: 1px solid #d9d9d9;
}

.copyright__text {
  position: relative;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  width: 100%;

  &::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    top: -20px;
    right: -10px;
    background-image: url("../../img/htmlacademy.svg");
  }
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 30px 0 15px 0;
}

@media (min-width: $tablet-width) {
  .copyright {
    border-top: none;
  }

  .copyright__text {
    margin-right: 80px;
  }

  .copyright__text::after {
    right: -80px;
  }

  .copyright__link {
    padding: 0;
  }
}
