.example {
  box-sizing: border-box;
  background-color: $bg-gray;
}

.example__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
}

.example__content-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  padding-top: 25px;
}

.example__title {
  font-size: 36px;
  line-height: 60px;
  margin: -10px 0 0 0;
  font-weight: normal;
  margin-bottom: 10px;
}

.example__text {
  font-family: "Arial", sans-serif;
  margin-bottom: 22px;
}

.example__text-fragment {
  margin-right: 1px;
}

.example__list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 36px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.example__text--bottom {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 34px;
}

.example__slider {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: $bg-white;
  }

  .example__content-wrapper {
    max-width: 768px;
    width: 768px;
    padding: 31px 31px 0 31px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 50px;
  }

  .example__text {
    width: 676px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 42px;
  }

  .example__text-fragment {
    margin-right: 0;
  }

  .example__wrap {
    display: flex;
    align-items: center;
  }

  .example__list {
    justify-content: flex-start;
    font-size: 30px;
    line-height: 37px;
    margin: 0 0 23px;
  }

  .example__text--bottom {
    width: 185px;
    margin-left: auto;
    font-size: 20px;
    line-height: 31px;
    text-align: right;
    margin-top: 15px;
  }

  .example__slider {
    position: relative;
    margin-top: 207px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    position: relative;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
  }

  .example::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 77%;
    background-image: linear-gradient(90deg,#f2f2f2 75%,#eaeaea 25%);
  }

  .example__container {
    width: 1220px;
    flex-direction: row;
  }

  .example__container-title {
    margin-bottom: 147px;
  }

  .example__content-wrapper {
    position: relative;
    top: 5px;
    left: 0;
    padding: 0;
    padding-bottom: 30px;
    z-index: 1;
    flex: 0 0 40%;
    max-width: 40%;
  }

  .example__wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .example__list {
    margin: 0 0 40px 0;
  }

  .example__title {
    margin: 0;
  }

  .example__text {
    text-align: left;
  }

  .example__text--top {
    margin: 0 0 67px 0;
    width: 435px;
  }

  .example__text--bottom {
    margin-left: 0;
    width: 435px;
  }

  .example__text--sum {
    margin-left: 59px;
  }

  .example__slider {
    display: flex;
    max-width: 60%;
    margin: initial;
    flex: 0 0 60%;
  }
}

@media (min-width: 2440px) {
  .example::after {
    background-image: linear-gradient(90deg,#f2f2f2 60%,#eaeaea 60%);
  }
}
