.facts-list__item {
  width: 125px;
  border: 1px solid $grey-darken;
  border-radius: 3px;
}

.facts-list__text--top {
  font-size: 24px;
  line-height: 24px;
}

.facts-list__text--bottom {
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial";
}