.feedback {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
}

.feedback__col {
  padding: 0 20px 0 20px;
}

.feedback__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  margin-bottom: 25px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .feedback {
    width: 768px;
    border-top: none;
  }

  .feedback__col {
    padding: 0 30px 12px 30px;
  }

  .feedback__text--form {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    width: 325px;
    margin-top: 45px;
    margin-left: 41px;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    width: $desktop-width;
  }

  .feedback__text--form {
    margin-left: 0;
    margin-bottom: 50px;
  }
}
