.footer {
  display: flex;
  flex-direction: column;
  background-color: $bg-gray;
}

.footer__container {
  flex-direction: column;
}

.footer__logo-wrapper {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid $grey-darken;
}

.footer__map-wrapper {
  position: relative;
  min-height: 365px;
  background-image: url("./../img/bg-map-mobile@1x.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  font-size: 0;
  line-height: 0;

  &::before {
    position: absolute;
    content: "";
    top: 130px;
    left: 122px;
    width: 55px;
    height: 53px;
    background-image: url("./../img/map-pin.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.footer__interactive-map {
  min-height: 365px;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 140px;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $tablet-width) {
  .footer__container {
    flex-direction: row;
  }

  .footer__background {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footer__logo-wrapper {
    border-bottom: none;
    padding: 0;
    margin-left: 10px;
  }

  .footer__list {
    align-items: center;
  }

  .footer__interactive-map {
    min-height: 396px;
  }

  .footer__map-wrapper {
    min-height: 396px;

    &::before {
      left: 50%;
      top: 160px;
      transform: translateX(-45px);
    }
  }
}

@media (min-width: $desktop-width) {
  .footer {
    position: relative;
  }

  .footer__background {
    padding-left: 110px;
    padding-right: 110px;
  }

  .footer__interactive-map {
    min-height: 400px;
  }

  .footer__map-wrapper {
    min-height: 400px;

    &::before {
      top: 155px;
      transform: translateX(-50px);
    }
  }
}
