.form__list {
  width: 100%;
  position: relative;
  text-transform: uppercase;
  padding-left: 0;
  list-style-type: none;

  &--underline::after {
    position: absolute;
    bottom: -15px;
    left: -20px;
    content: "";
    width: 320px;
    height: 1px;
    background-color: $grey-darken;
  }
}

.form__list--radio {
  margin: 0;
}

.form__list--checkboxes {
  margin: 13px 0 14px;
}

.form__item {
  display: flex;
  text-transform: uppercase;
  position: relative;
}

.form__item--name {
  margin-bottom: 13px;
}

.form__item--name:last-child {
  margin-bottom: 8px;
}

.form__item--radio {
  margin: 16px 0 10px 0;
}

.form__input--border {
  border: 1px solid #cdcdcd;
}

.form__item--contacts {
  margin-top: 21px;
}

.form__item--tel {
  margin-top: 13px;
}

.form__label {
  font-size: 16px;
  padding-left: 0;
}

.form__label--text,
.form__label--email,
.form__label--phone {
  padding: 14px 0;
  margin-right: 15px;
}

.form__label--phone {
  margin-right: 9px;
}

.form__input {
  flex-grow: 1;
  border: 1px solid $input-grey;
  opacity: 0.5;
}

.form__input--text,
.form__input--email {
  text-transform: inherit;
  padding: 0 0 0 14px;
  letter-spacing: 1px;
}

.form__input--text:hover {
  opacity: 1;
}

.form__input--text:active {
  outline: 2px solid $text-dark;
}

.form__input--email {
  padding: 0 0 0 15px;
}

.form__label--radio {
  position: relative;
  display: block;
  cursor: pointer;
  margin-left: 45px;
  margin-bottom: 0;
  padding-top: 10px;
}

.form__label--email {
  margin-right: 12px;
}

.form__input--radio + label::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -45px;
  width: 28px;
  height: 28px;
  border: 1px solid $input-grey;
  border-radius: 50%;
}

.form__input--radio + label:hover::before {
  border-color: #bababa;
}

.form__input--radio + label:active::before,
.form__input--radio + label:active::after,
.form__input--radio + label:active {
  opacity: 0.3;
}

.form__input--radio:checked + label::after {
  content: "";
  position: absolute;
  top: 13px;
  left: -36px;
  width: 12px;
  height: 12px;
  background-color: $green-lighten;
  border-radius: 50%;
}

.form__title-wrap {
  position: relative;

  &::after {
    position: absolute;
    top: 15px;
    right: -20px;
    content: "";
    width: 99px;
    height: 3px;
    background-color: $green-lighten;
  }
}

.form__input--email {
  background-image: url("./../img/icon-mail.svg");
  background-size: 17px 27px;
  background-repeat: no-repeat;
  background-position: 184px 8px;
  border: 1px solid $grey-darken;
}

.form__input--phone {
  background-image: url("./../img/icon-phone.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 170px 12px;
  border: 1px solid $grey-darken;
  padding: 0 0 0 16px;
  font-size: 16px;
}

.form__comment-wrapper {
  position: relative;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding-top: 12px;
}

.form__label--comment {
  font-size: 24px;
  line-height: 24px;
  text-transform: none;
  margin-bottom: 36px;

  &::after {
    position: absolute;
    top: 27px;
    right: -20px;
    content: "";
    width: 158px;
    height: 3px;
    background-color: $green-lighten;
  }
}

.form__input--textarea {
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border-color: $grey-darken;
  resize: none;
  padding-top: 13px;
  padding-bottom: 9px;
}

.form__title-wrap--additional::after {
  width: 136px;
  top: 14px;
}

.form__label--checkbox {
  margin-left: 45px;
  margin-bottom: 25px;
  cursor: pointer;
}

.form__input--checkbox + label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 28px;
  height: 28px;
  border: 1px solid $grey-darken;
}

.form__input--checkbox:checked + label::after {
  position: absolute;
  top: 2px;
  left: 5px;
  width: 21px;
  content: url("./../img/icon-tick.svg");
}

.form__input--checkbox + label:hover::before {
  border-color: #bababa;
}

.form__input--checkbox + label:active::before,
.form__input--checkbox + label:active::after,
.form__input--checkbox + label:active {
  opacity: 0.3;
}

.form__text--bottom {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

@media (min-width: $tablet-width) {
  .form__list {
    margin-bottom: 64px;
    padding-left: 43px;
    padding-right: 67px;
    padding-top: 26px;
  }

  .form__list--contacts {
    padding-top: 0;
    margin-top: 56px;
  }

  .form__list--border {
    border: 1px solid rgba(205, 205, 205, 0.5);
    margin-right: 67px;
    margin-left: 41px;
    padding-top: 25px;
    padding-right: 28px;
    padding-bottom: 10px;
    padding-left: 28px;
  }

  .form__list--underline::after {
    display: none;
  }

  .form__item {
    align-items: center;
  }

  .form__item--name {
    margin-bottom: 20px;
  }

  .form__item--radio {
    margin: 0 0 24px 0;
  }

  .form__item--tel {
    margin-top: 21px;
  }

  .form__label,
  .form__input {
    font-size: 20px;
    line-height: 20px;
  }

  .form__label--nomargin {
    margin-bottom: 0;
  }

  .form__label--radio {
    margin-left: 58px;
    padding-top: 9px;
  }

  .form__label--email {
    margin-right: 17px;
  }

  .form__label--phone {
    margin-left: -5px;
    margin-right: 16px;
  }

  .form__input--radio + label::before {
    width: 40px;
    height: 40px;
    top: -2px;
    left: -60px;
  }

  .form__input--radio:checked + label::after {
    width: 18px;
    height: 18px;
    top: 10px;
    left: -48px;
  }

  .form__input--text {
    padding: 10px 0 10px 15px;
  }

  .form__input--weight {
    padding-left: 21px;
  }

  .form__input--age {
    padding-left: 18px;
  }

  .form__title-wrap::before {
    position: absolute;
    top: 22px;
    left: -30px;
    content: "";
    width: 30px;
    height: 3px;
    background-color: $green-lighten;
  }

  .form__title-wrap::after {
    width: 145px;
    top: 22px;
    right: -30px;
  }

  .form__input--email,
  .form__input--phone {
    padding: 10px 0 10px 20px;
    letter-spacing: 0em;
  }

  .form__input--email {
    background-position: 512px center;
  }

  .form__input--phone {
    background-position: 497px center;
  }

  .form__label--comment {
    font-size: 36px;
    line-height: 36px;
    margin-left: 40px;
    text-transform: none;
  }

  .form__label--comment::after {
    top: 21px;
    right: -30px;
    width: 480px;
  }

  .form__label--comment::before {
    position: absolute;
    top: 21px;
    left: -30px;
    content: "";
    width: 30px;
    height: 3px;
    background-color: $green-lighten;
  }

  .form__input--textarea {
    margin: 39px 67px 45px 40px;
    text-align: left;
    padding-top: 14px;
    padding-left: 19px;
    padding-bottom: 18px;
  }

  .form__title-wrap--additional::after {
    width: 445px;
  }

  .form__list--checkboxes {
    width: 564px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 67px 0 63px 54px;
  }

  .form__item--checkbox {
    width: 220px;
  }

  .form__item--marginbottom {
    margin-bottom: 26px;
  }

  .form__text-wrap {
    display: flex;
    margin-bottom: 60px;
    margin-left: 35px;
  }

  .form__comment-wrapper {
    padding-top: 0;
  }

  .container--form-checkboxes {
    padding: 0;
  }

  .form__input--checkbox + label:before {
    top: -10px;
    left: -15px;
    width: 40px;
    height: 40px;
  }

  .form__input--checkbox:checked + label::after {
    top: -1px;
    left: -4px;
  }

  .form__text--bottom {
    margin: 0;
    margin-top: 18px;
    margin-left: 1px;
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form__top-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 61px;
  }

  .form__list--desktop {
    padding: 0;
  }

  .form__list--border {
    margin: 0;
    padding: 25px 28px 10px;
  }

  .form__list--width {
    width: 570px;
    margin: 0;
  }

  .form__title-wrap::before,
  .form__label--comment::before {
    left: -955%;
    width: 952%;
  }

  .form__title-wrap::after {
    width: 920%;
    right: -865%;
  }

  .form__list--contacts {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-top: 55px;
    margin-bottom: 68px;
  }

  .form__item--contacts {
    width: 570px;
  }

  .form__input--email {
    background-position: 455px center;
  }

  .form__input--phone {
    background-position: 435px center;
  }

  .form__label--comment {
    margin-left: 0;
  }

  .form__label--comment::after {
    width: 970%;
    right: -888%;
  }

  .form__input--textarea {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }

  .form__title-wrap--additional::after {
    width: 944%;
  }

  .form__list--checkboxes {
    padding: 0;
    width: initial;
    justify-content: flex-start;
    margin-top: 67px;
    margin-left: 14px;
    margin-bottom: 18px;
  }

  .form__item--checkbox {
    margin-right: 105px;
  }

  .form__text-wrap {
    margin-left: 0;
  }

  .form__comment-wrapper {
    margin-bottom: 22px;
  }

  .form__item--checkboxmilk {
    margin-bottom: 50px;
  }

  .form__item--checkboxlast {
    margin-right: 0;
    margin-bottom: 50px;
  }
}
