.hero {
  background-image: url('../../img/index-background-mobile@1x.jpg');
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 30px;
  min-height: 305px;
}

.hero__title {
  margin: 0;
  margin-bottom: 20px;
  color: $bg-white;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
}

.hero__promo-text {
  position: relative;
  width: 200px;
  color: $bg-white;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 50px;
    left: -50px;
    width: 280px;
    height: 270px;
    background-image: url("../img/index-can-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: $tablet-width) {
  .hero {
    position: relative;
    background-image: none;
    padding: 30px 30px 0 120px;
    text-align: left;
    min-height: 788px;
  }

  .hero__title {
    color: #111111;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 30px;
    width: 420px;
  }

  .hero__promo-text {
    color: $oswald-m-color;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;

    &::before {
      width: 709px;
      height: 609px;
      background-image: url("../../img/index-can-tablet@1x.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      left: -95px;
    }
  }

.btn--hero-tablet {
    position: absolute;
    top: -60px;
    left: 120px;
    display: block;
    width: 245px;
    padding: 20px 0px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
}
