@media (min-width: $tablet-width) {
  .image__catalog {
    display: block;
    height: auto;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .image__catalog--s {
    position: relative;
    top: -45px;
    width: 161px;
    height: 172px;
    object-fit: cover;
    margin: 0;
  }

  .image__catalog--l {
    position: relative;
    top: -80px;
    left: 0px;
    width: 195px;
    height: 208px;
    object-fit: cover;
    margin: 0 0 0 0;
  }

  .image--poly {
    font-family: "object-fit: cover;";
  }
}
