.main-nav {
  position: relative;
}

.main-nav__list {
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: block;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
  }

  .main-nav__list {
    display: flex;
    margin-left: auto;
    align-items: flex-start;
    flex-flow: row wrap;
    max-width: 498px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    justify-content: flex-start;
    margin-left: auto;
    z-index: 2;
  }
}
