.main-page {
  position: relative;
  width: 320px;
  margin: 0 auto;
  border: 1px solid $border-grey;
  border-top: none;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media (min-width: $tablet-width) {
  .main-page {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .main-page {
    width: 1440px;
    overflow-x: visible;
  }
}
