.main-nav {
  position: relative;
}

.main-nav__list {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    padding: 30px 40px 0 40px;
  }

  .main-nav__list {
    display: flex;
    margin-left: auto;
  }
}
