.nav-list__item {
  padding: 20px 0 15px 0;
  border-bottom: 1px solid $border-bottom;
  text-align: center;
  text-transform: uppercase;
}

.nav-list__item--nomrgn-bottomm {
  border-bottom: initial;
}

.nav-list__link {
  text-decoration: none;
  color: $oswald-m-color;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
}

.nav-list__link[href]:hover {
  opacity: 0.6;
}

.nav-list__link[href]:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .nav-list__item {
    border-bottom: none;
    margin: 0 0 0 30px;
    padding: 20px 0 9px 0;
  }

  .nav-list__link {
    font-size: 18px;
    line-height: 24px;
  }

  .nav-list__item--active {
    border-bottom: 2px solid $green-darken;
  }

  .nav-list__item--main {
    margin-right: 4px;
  }

  .nav-list__item--catalog {
    margin-right: 6px;
  }
}

@media (min-width: $desktop-width) {
  .nav-list__item {
    margin: 0 0 0 34px;
  }

  .nav-list__link {
    color: $bg-white;
    letter-spacing: 1px;
  }

  .nav-list__link--inner {
    color: $text-dark;
  }

  .nav-list__item--active {
    border-bottom-color: $bg-white;
  }

  .nav-list__item--active-inner {
    border-bottom: 2px solid $green-lighten;
  }
}
