body {
  width: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: $fs-default;
  line-height: $lh-default;
  font-family: "Oswald", "Arial", sans-serif;

  background-color: $bg-white;

  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

a {
  color: #000000;
}

.logo__image {
  width: 192px;
  height: auto;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.logo[href]:hover .image {
  opacity: 0.8;
}

.logo[href]:active .image {
  opacity: 0.6;
}

.title-first {
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
}

.title-first--catalog {
  margin: 0 0 0 -23px;
  padding-top: 14px;
  padding-bottom: 28px;
  border-bottom: 1px solid $border-bottom;
}

.title-first--form {
  margin-top: 14px;
  margin-bottom: 11px;
}

.title-third--catalog {
  width: 80px;
  text-align: left;
  margin-top: 22px;
}

.title-third--form {
  width: 185px;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  margin: 43px 0 0 0;
}

.title-third--form-additional {
  margin-top: 28px;
}

.title-third--additional {
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  text-align: left;
  margin-top: 26px;
  margin-bottom: 21px;

  &::after {
    position: absolute;
    top: 15px;
    right: 0;
    content: "";
    width: 53px;
    height: 3px;
    background-color: $green-lighten;
  }
}

.title-third--product {
  text-align: left;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 13px 0 0 0;

}

.image--slim {
  position: relative;
  left: 10px;
}

.image--advantage {
  background-color: $green-lighten;
  margin-right: 20px;
}

.btn {
  @include btn;

  &--green {
    @include btn--green;
  }

  &--green-catalog {
    @include btn--green;
    padding: 10px 110px;
    display: inline-block;
  }

  &--green-form {
    border: none;
  }

  &--gray {
    border: none;
    background-color: $bg-gray;
    display: inline-block;
    padding: 12px 100px;
  }
}

.btn--hero-mobile {
  padding: 10px 0 10px 0;
  width: 280px;
  margin-top: 299px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}

.btn--green-additional {
  display: block;
}

.btn--green:hover,
.btn--green-catalog:hover {
  background-color: #5eaa2f;
}

.btn--green:active,
.btn--green-catalog:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

.btn--gray-catalog {
  background-color: $bg-gray;
  color: #444444;
  padding: 10px 15px;
  width: 249px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: normal;
}

.btn--hover-catalog:hover {
  background-color: #ebebeb;
  cursor: pointer;
}

.btn--hover-catalog:active {
  opacity: 0.3;
  color: #c6c6c6;
}

@media (min-width: $tablet-width) {
  .logo__image {
    display: block;
    width: 180px;
    height: auto;
    margin: 0 auto;
  }

  .title-first--catalog {
    text-align: left;
    padding-top: 58px;
    padding-left: 53px;
    padding-bottom: 163px;
    border-bottom: none;
    font-size: 60px;
    line-height: 60px;
  }

  .title-first--form {
    font-size: 60px;
    line-height: 60px;
    margin-top: 0;
    padding-top: 58px;
  }

  .title-third--form {
    width: 570px;
    font-size: 36px;
    line-height: 36px;
    margin-left: 39px;
    margin-top: 11px;
  }

  .title-third--additional {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 65px 37px;
  }

  .title-third--additional::after {
    top: 20px;
    width: 328px;
  }

  .title-third--additional::before {
    position: absolute;
    top: 20px;
    left: 0;
    content: "";
    width: 28px;
    height: 3px;
    background-color: $green-lighten;
  }

  .title-third--catalog {
    font-size: 20px;
    line-height: 20px;
    width: 140px;
    margin: 14px auto 21px auto;
    text-align: center;
  }

  .title-third--product {
    font-size: 20px;
    line-height: 20px;
    margin: -20px 0 0 2px;
  }

  .btn--hero-tablet {
    position: absolute;
    top: -18px;
    left: 120px;
    display: block;
    width: 245px;
    padding: 16px 0;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    z-index: 2;
    margin-top: 305px;
  }

  .btn--green-catalog {
    padding: 10px 0;
    width: 249px;
    margin-left: auto;
    margin-right: auto;
  }

  .btn--green-additional {
    width: 648px;
    margin-top: 8px;
  }

  .btn--green-form {
    margin-right: 60px;
    margin-left: 6px;
    margin-top: 2px;
    font-size: 20px;
    line-height: 20px;
    padding: 16px 68px 16px 63px;
    width: 283px;
    max-height: 52px;
  }

  .btn--gray-catalog {
    padding: 10px 0;
  }
}

@media (min-width: $desktop-width) {
  .body-index {
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      min-height: 695px;
      content: "";
      background-image: url("./../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      @media (min-resolution: $retina-dpi) and (min-resolution: $retina-dppx) {
        background-image: url("../../img/index-background-desktop@2x.jpg");
        background-size: cover;
      }
    }
  }

  .logo__image {
    width: 202px;
    height: auto;
  }

  .title-first--catalog {
    margin-left: 0;
    padding-top: 74px;
    padding-bottom: 164px;
    padding-left: 0;
  }

  .btn--green-catalog {
    width: 170px;
  }

  .btn--gray-catalog {
    width: 169px;
  }

  .btn--green-additional {
    margin-top: 0;
    width: 245px;
    padding: 10px 0;
  }

  .btn--green-form {
    margin-left: 0;
    margin-right: 100px;
    width: 568px;
  }

  .title-third--additional {
    margin-left: 0;
    margin-bottom: 80px;
  }

  .title-third--additional::before {
    top: 22px;
    left: -138%;
    width: 135%;
  }

  .title-third--additional::after {
    width: 150%;
    top: 22px;
    right: -81%;
  }

  .title-third--product {
    width: 245px;
    margin: 0;
  }

  .title-third--form {
    margin-left: 0;
    width: 570px;
  }
}
