.promo-text--bold {
  text-align: left;
  font-weight: normal;
  text-transform: uppercase;
  min-width: 140px;
}

@media (min-width: $tablet-width) {
  .promo-text--bold {
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
  }

  .promo-text {
    width: 155px;
  }
}

@media (min-width: $desktop-width) {
  .promo-text--form {
    padding-top: 4px;
  }
}
