.promo-text--bold {
  text-align: left;
  font-weight: normal;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .promo-text--bold {
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
  }

  .promo-text {
    width: 155px;
  }
}
