// вспомогательный файл с переменными и примесями

// colors
$bg-white: #ffffff;
$green-lighten: #68b738;
$green-darken: #5eaa2f;
$bg-gray: #f2f2f2;
$grey-darken: #d9d9d9;
$pink: #ff8282;
$border-bottom: #e6e6e6;
$oswald-m-color: #111111;
$text-dark: #444444;
$border-grey: #e6e6e6;

// font-size, line-height, font-family
$fs-default: 14px;
$lh-default: 18px;

// devices
$tablet-width: 768px;
$desktop-width: 1440px;

// buttons
$btn-paddings: 10px 83px;

// resolution
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
